{% extends 'base.html' %}
{% block body %}
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Expense Tracker</a>

    <ul class="navbar-nav">
        <form class="form-inline my-2 my-lg-0" method="GET" action="">
            <input class="form-control mr-sm-2" type="search" name="query" placeholder="Search expenses..."
                value="{{ query }}" id="query">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link text-black" href="">

                            Welcome, {{request.user}}
                        </a></li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="">
                            Expenses
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="">
                            Exchange rates
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="">
                            Currency Converter
                        </a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link text-dark" href="/signout">
                            Logout
                        </a>
                    </li>                   
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <h2 class="h2">Dashboard </h2><br>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <a href="" class="btn btn-sm btn-outline-secondary">Export as CSV</a>
                        <a href="" class="btn btn-sm btn-outline-secondary">Export as Excel</a>
                    </div>
                </div>
            </div>
            <p id="welcome-message"></p>
        </main>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.1/dist/Chart.min.js"></script>
<script>
    // Get access token from localStorage
    const token = localStorage.getItem('access_token');
    
    if (token) {
        // Fetch protected data
        fetch('/api/protected/', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}`
            }
        })
        .then(response => {
            if (!response.ok) {
                // If access token is invalid, refresh the token
                refreshAccessToken();
            }
            return response.json();
        })
        .then(data => {
            if (data.user) {
                document.getElementById('welcome-message').innerText = `Welcome, ${data.user}!`;
            }
        });
    } else {
        // Redirect to login if no token is found
        window.location.href = '/login/';
    }
    
    // Function to refresh access token
    function refreshAccessToken() {
        const refreshToken = localStorage.getItem('refresh_token');
        fetch('/api/token/refresh/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 'refresh': refreshToken })
        })
        .then(response => response.json())
        .then(data => {
            localStorage.setItem('access_token', data.access);
            // Reload the page with the new access token
            window.location.reload();
        });
    }
    </script>
    

{% endblock body%}